@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(14 57 63);
}
.Title{
    background-color: rgb(14 57 63);
    display: flex;
    justify-content: center;
    align-items: ;
}
h2{
    font-family: 'Delicious Handrawn', cursive;
    text-shadow: 0 0 15px rgb(255, 255, 0);
    font-size: 4rem;
    color: rgb(0, 255, 255);
    animation: title 1s infinite;
    text-align: center;
}
@keyframes title {
    50%{
        text-shadow: 0 0 15px rgb(0, 255, 255);
        color: rgb(255, 255, 0);
    }
}
.finder-character{
    width: 30rem;
    height: 1rem;
    font-size: 1.5rem;
    border-radius: 20px;
    background-color: rgb(28 39 46);
    padding: 1rem;
    color: white;
    font-family: 'Delicious Handrawn', cursive;
}
.page-link{
    color: black;
    background-color: rgb(64 119 114);
    font-size: 15px;
    font-weight: 600;
    padding: .6em;
    margin: 1.2rem 1rem 0 auto;
    text-shadow: 0 0 1rem rgb(158, 158, 100);
    box-shadow: 0 0 1rem rgba(228, 223, 223, 0.2);
    transition: 0.2s;
}
.page-link:hover{
    color: black;
    background-color: rgb(64 119 114) ;
    font-weight: 700;
    transform: scale(1.1);
    box-shadow: 0 0 1rem rgba(228, 223, 223, 0.2);
}
/*.card{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 100%;
   height: auto;
   background: transparent;
   border: 1px solid rgb(55, 0, 255);
}
.card-character{
    border: 1px solid red;
    width: 100%;
    height: auto;
    color: white;
}
.card-character > img{
    width: 70%;
    height: 60%;
    border-radius: 50%;
    max-width: 100%; 
    margin: 0 auto; 
    display: block;
}
.card-body{
    
}
*/